FIREZONE_SERVER_HOSTNAME=vpn.example.com

### 🔗 Firezone dış URL (Traefik burada terminate ediyor)
EXTERNAL_URL=https://vpn.example.com

### 👤 İlk admin kullanıcı
DEFAULT_ADMIN_EMAIL=e-posta@example.com
DEFAULT_ADMIN_PASSWORD=

### 🗄 PostgreSQL (ayrı container kullanıyorsan)
DATABASE_HOST=firezone-postgres
DATABASE_NAME=firezone
DATABASE_USER=firezone
DATABASE_PASSWORD=FirezoneDbGucluSifre
DATABASE_ENCRYPTION_KEY=zsd8MM16IiU+lWFsM3H13ODnxaitso9QSzNxEYYp1GI=

### 🔐 ZORUNLU secret’lar (bunlar yoksa login patlar)
SECRET_KEY_BASE=320501a030be0c4eccc857a5e7b53905698427d9fd5ac6e32bf215cbde222b1b
LIVE_VIEW_SIGNING_SALT=49221e10e347768d
COOKIE_SIGNING_SALT=b6e90aabff4c0357
COOKIE_ENCRYPTION_SALT=82ec830339af88ea
GUARDIAN_SECRET_KEY=22d96718af02641cd6e78047c4c8d4c2ceba103fb10d4a60626229c732c2e41a

### 📊 Telemetry (opsiyonel)
TELEMETRY_ENABLED=false

### 🔌 WireGuard network
WIREGUARD_IPV4_NETWORK=100.64.0.0/10
WIREGUARD_IPV4_ADDRESS=100.64.0.1
WIREGUARD_PORT=51820

# Email
EMAIL_FROM=e-posta@vpn.example.com
SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=smtp@mailtrap.io
SMTP_PASSWORD=
SMTP_TLS=true
SMTP_STARTTLS=true
